<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header', {title: 'Error :c'}) %>
</head>

<body>
  <div id="login" class="contenedor">
    <h1>A dónde vas amigo?</h1>
    <p>No existe esta página compa, guarda</p>
    <p>404: NO ENCONTRADO</p>
  </div>
  <br />
  <a href="/register">Registrarse</a>
  <script src="/login.js"></script>
</body>

</html>