<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<style>
    body {
      font-family: "Comic Sans MS", sans-serif;
      text-align: center;
      padding: 10px;
      background-image: url('/images/back.png');
      background-repeat: repeat;
      background-color: rgb(19, 34, 80);
      color: gainsboro;
    }

    img {
      width: 64px;
    }

    p {
      margin: 0% 1px;
    }

    input:disabled {
      background-color: #77f;
      color: black;
    }

    #chat {
      text-align: left;
      width: 70%;
      margin: auto;
      overflow-y: scroll;
      max-height: 500px;
    }

    .contenedor {
      border: solid 1px gainsboro;
      background-image: url('./images/backProds.png');
      background-color: #77f;
      width: 50%;
      margin: auto;
      padding-bottom: 10px;
    }

    #login {
      background-image: url('./images/backLogin.png');
    }

    #input-table {
      margin: auto;
    }

    #nav-links {
      background-color: #77f;
      margin: auto;
      width: 20%;
      border: solid 1px gainsboro;
    }

    #prod, #prod-header{
      border: 1px gainsboro;
      border-style: groove;
      border-radius: 5px;
      /* border-collapse: collapse; */
    }

    #tabla {
      background-color: #132250;
      width: 70%;
      margin: auto;
    }

    .ingresoProductos {
      background-color: unset;
      border: 0;
    }
  </style>